In [2]:
import pandas as pd

In [14]:
df = pd.DataFrame(
    {
        "Name": ["Braund","Allen","Bonnell","riya_maker"],
        "Age": [22, 35, 58,70],
        "Gender": ["male", "male", "female","Other"],
    }
)
df

         Name  Age  Gender
0      Braund   22    male
1       Allen   35    male
2     Bonnell   58  female
3  riya_maker   70   Other

In [4]:
ser = pd.Series([1,2,3,4,5],name = "kamlesh")
ser

0    1
1    2
2    3
3    4
4    5
Name: kamlesh, dtype: int64

In [5]:
df['Age']

0    22
1    35
2    58
Name: Age, dtype: int64

In [6]:
df['Age'].max()

58

In [7]:
ser.max()

5

In [8]:
ser.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
Name: kamlesh, dtype: float64

* Count - mean counting the number of list
* mean - meaning the average value of the number list
* std - standard devistion
* min - minimum value of the list
* max - max value of the list

In [9]:
ser2 = pd.Series(10,index = range(1,8,2))
ser2

1    10
3    10
5    10
7    10
dtype: int64

In [13]:
ser = pd.Series('kamlesh', index=range(0,9,2))
ser

0    kamlesh
2    kamlesh
4    kamlesh
6    kamlesh
8    kamlesh
dtype: object